.profile-card {
  position: fixed;
  top: 20px; /* Keep some margin from the top */
  right: 0; /* Aligns the card to the right side of the viewport */
  width: 300px; /* Increased the width of the profile card */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  top: 48px;
  border-radius: 8px;
  padding: 20px; /* Increased padding for better spacing */
  margin: 8px 0;
  z-index: 1000; /* Ensure it's on top of other elements */
}

.rounded-image {
  width: 120px; /* Increased image size */
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px; /* Increased spacing below the image */
}

.person-name {
  margin-bottom: 20px;
  font-size: 1.5rem; /* Increased the font size */
  color: #333;
}

.btn-primary {
  padding: 12px 20px; /* Increased button padding */
  font-size: 1.1rem; /* Slightly larger button text */
}