.login-container {
    width: 100%; 
    max-width: 350px; 
    height: 100%; 
    max-height: 550; 
    padding: 2rem; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.login-container:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
}
  .login-btn {
    background-color: #1877f2;
    color: white;
    transition: background-color 0.3s ease;
  }
  .login-btn:hover {
    background-color: #165dd9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .register-btn {
    color: #1877f2;
    transition: color 0.3s ease;
  }
  .form-control {
    width: 100%; 
    max-width: 400px; 
    padding: 1rem;
    transition: border-color 0.3s ease;
}
.form-control:focus {
  border-color: #1877f2;
  box-shadow: 0 0 0 4px rgba(24, 119, 242, 0.1); 
}
