.post-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px 0; /* הקטנת המרווחים */
  padding: 10px; /* הקטנת ה-padding */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  align-items: center; /* Aligns items vertically center */
  justify-content: space-between; /* Spaces out the content */
}

.post-user-image {
  width: 30px; 
  height: 30px; 
  border-radius: 50%;
  margin-right: 10px;
}

.post-user-info {
  flex-grow: 1; /* Allow this div to take up available space */
  display: flex;
  flex-direction: column; /* Stack name and time vertically */
  align-items: flex-start;
}

.post-user-name {
  font-weight: bold; /* Makes the user name bold */
}

.post-time {
  color: #999;
  font-size: 0.8rem; 
}

.edit-post-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 4px 8px; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-post-button:hover {
  background-color: #0056b3;
}

.post-content {
  display: flex;
  align-items: flex-start; /* מוודא שהתמונה והטקסט יתחילו בקו העליון */
  gap: 15px; /* רווח בין התמונה לטקסט */
  width: 100%;
}

.post-text {
  color: #333;
  font-size: 0.9rem;
  text-align: left;
  word-wrap: break-word; /* שובר מילים ארוכות */
  white-space: pre-wrap; /* שומר על ירידות שורה */
  overflow-wrap: break-word; /* מבטיח ששום דבר לא יוצא מהקופסה */
  flex-grow: 1; /* מאפשר לטקסט להתפשט ולתפוס את שאר הרוחב */
  
  max-height: 300px; /* מגביל את גובה הטקסט */
  overflow-y: auto;
}

.post-text-to-show {
  height: 300px;
}

.post-image {
  max-height: 300px; /* Limit the image height */
  max-width: 300px;  /* Limit the image width */
  margin-right: 15px; /* Add space between the image and the text */
  border-radius: 8px;
  object-fit: cover;
}

.post-actions {
  display: flex;
  justify-content: space-around; /* Space out the buttons evenly */
  margin-top: 8px; /* הקטנת המרווחים */
}

.action-button {
  background-color: #e9ecef;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #d3d3d3;
}
.red {
  color: red;
}