.post-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px 0; 
  padding: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

.post-user-image {
  width: 30px; 
  height: 30px; 
  border-radius: 50%;
  margin-right: 10px;
}

.post-user-info {
  flex-grow: 1; 
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
}

.post-user-name {
  font-weight: bold; 
}

.post-time {
  color: #999;
  font-size: 0.8rem; 
}

.edit-post-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 4px 8px; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

.edit-post-button:hover {
  background-color: #0056b3;
}

.post-content {
  display: flex;
  align-items: flex-start; 
  gap: 15px; 
  width: 100%;
}

.post-text {
  color: #333;
  font-size: 0.9rem;
  text-align: left;
  word-wrap: break-word; 
  white-space: pre-wrap; 
  overflow-wrap: break-word; 
  flex-grow: 1; 
  max-height: 300px; 
  overflow-y: auto;
}

.post-text-to-show {
  height: 300px;
}

.post-image {
  max-height: 300px; 
  max-width: 300px;
  min-height: 300px;  
  margin-right: 15px; 
  border-radius: 8px;
  object-fit: cover;
}

.post-actions {
  display: flex;
  justify-content: space-around; 
  margin-top: 8px; 
}

.action-button {
  background-color: #e9ecef;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  display: inline-block;
  text-align: center;
}

.action-button:hover {
  background-color: #d3d3d3;
}


/*dark mode*/
body.dark-mode .post-card {
  background-color: #444; 
  border: 1px solid #666; 
}

body.dark-mode .post-user-info {
  color: #f1f1f1; 
}

body.dark-mode .post-time {
  color: #bbb; 
}

body.dark-mode .edit-post-button {
  background-color: #007bff; 
  color: #fff; 
}

body.dark-mode .edit-post-button:hover {
  background-color: #0056b3; 
}

body.dark-mode .post-text {
  color: #f1f1f1; 
}

body.dark-mode .post-actions .action-button {
  background-color: #555; 
}

body.dark-mode .post-actions .action-button:hover {
  background-color: #666; 
}