.post-upload {
    position: sticky;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px; 
    margin-bottom: 2px; 
    top: 50px; 
    width: 100%; 
    z-index: 1000; 
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 2px; 
}

.user-image {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; 
}

.user-name {
    font-weight: bold; 
}

.post-form {
    display: flex;
    flex-direction: column; 
}

.post-text {
    width: 100%; 
    height: 70px; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    resize: none; 
    margin-bottom: 2px; 
}

.image-input {
    margin-bottom: 2px; 
}

.preview-image {
    margin: 2px 0; 
}

.preview-image img {
    max-width: 100%; 
    border-radius: 5px; 
}

.submit-button {
    align-self: flex-end; /* מיקום הכפתור בצד ימין */
    background-color: #007bff; /* צבע הכפתור */
    color: #fff; /* צבע טקסט הכפתור */
    padding: 5px 10px; /* Padding לכפתור */
    border: none; /* ללא גבול */
    border-radius: 5px; /* פינות מעוגלות */
    cursor: pointer; /* חץ בעת המעבר עם העכבר */
    transition: background-color 0.3s; /* מעבר צבע */
}

.submit-button:hover {
    background-color: #0056b3; /* צבע כפתור כשמעבירים מעליו את העכבר */
}


/*dark mode*/
body.dark-mode .post-upload {
    background-color: #333;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

body.dark-mode .post-text {
    background-color: #444;
    color: #ddd;
    border: 1px solid #555;
}

body.dark-mode .submit-button {
    background-color: #1e90ff;
    color: #fff;
}

body.dark-mode .submit-button:hover {
    background-color: #1c75d8;
}

body.dark-mode .user-name {
    color: #f1f1f1;
}

body.dark-mode .image-input {
    color: #ccc;
}

body.dark-mode .preview-image img {
    border: 1px solid #666;
}